/* Assignment 2 Part 1 - Using the pop-up prompt
Kendra Brauer
Web Scripting with JavaScript ICT-4570-1
assignment2_part1.css */

body {
  background-color: #A65D56;
  color: white;
  text-align: center;
}

div {
  background-color: #076873;
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: 5px solid #F28B30;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 20px;
}
